<ul>
    <li>
        <button data-social-share="https://github.com/DominikAngerer/typescript-social-share" data-social-share-type="facebook">Share on facebook</button>
    </li>
    <li>
        <button data-social-share="https://github.com/DominikAngerer/typescript-social-share" data-social-share-type="twitter">Share on twitter</button>
    </li>
    <li>
        <button data-social-share="https://github.com/DominikAngerer/typescript-social-share" data-social-share-type="pinterest">Share on pinterest</button>
    </li>
    <li>
        <button data-social-share="https://github.com/DominikAngerer/typescript-social-share" data-social-share-type="google-plus">Share on google+</button>
    </li>
    <li>
        <button data-social-share="https://github.com/DominikAngerer/typescript-social-share" data-social-share-type="linkedin">Share on linkedin</button>
    </li>
    <li>
        <button data-social-share="https://github.com/DominikAngerer/typescript-social-share" data-social-share-type="xing">Share on xing</button>
    </li>
</ul>